.unleash__right_content {
  width: 436px;
  height: 613px;
  margin-top: 75px;
  margin-left: 102px;
  position: relative;
}

@media (max-width: 768px) {
  .unleash__right_content {
    margin-left: 0;
    width: 100%;
  }
}
