

.unleash_line {
  border: 0.71px solid #cbcbcb;
  width: 1248px;
  height: 0px;
  margin: 0 auto;
}

.unleash_content {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
 

  .unleash_content {
    flex-direction: column;
  }

  .unleash_line {
    display: none;
  }
}
